.tiles {
  border: 1px solid grey;
  text-align: center;
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
}
/* .state-false-filled {
  background-color: rgb(248, 195, 195);
} */

/* Pre filled state */
.readonly-filled-true {
  background-color: antiquewhite;
  color: black;
}

/* Filled but not valid */
.not-readonly-filled-false {
  background-color: rgb(248, 195, 195);
}
.not-readonly-filled-true {
  background-color: rgb(206, 248, 195);
}
/* .tiles[readonly] {
  background-color: antiquewhite;
  color: black;
} */
.col-2 {
  border-right: solid rgb(0, 0, 0);
}
.col-5 {
  border-right: solid rgb(0, 0, 0);
}
.row-2 {
  border-bottom: solid rgb(0, 0, 0);
}
.row-5 {
  border-bottom: solid rgb(0, 0, 0);
}

@media only screen and (max-width: 600px) {
  .tiles {
    border: 1px solid grey;
    text-align: center;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 455px) {
  .tiles {
    border: 1px solid grey;
    text-align: center;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
  }
}
