.tiles {
  border: 1px solid grey;
  text-align: center;
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
}
.tiles[readonly] {
  background-color: antiquewhite;
}
.col-2 {
  border-right: solid rgb(0, 0, 0);
}
.col-5 {
  border-right: solid rgb(0, 0, 0);
}
.row-2 {
  border-bottom: solid rgb(0, 0, 0);
}
.row-5 {
  border-bottom: solid rgb(0, 0, 0);
}
